html, body {
    margin: 0;
    padding: 0;
}

.section-heading {
    text-align: center;
}

@font-face {
    font-family: NeonGlow;
    src: url(neon_glow/neon-glow.otf);
}

@font-face {
    font-family: NeonGlowLight;
    src: url(neon_glow/neon-glow-light.otf);
}

.neon-glow-light-font {
    font-family: NeonGlowLight;
}

@font-face {
    font-family: AllRoundGothicBook;
    src: url(DTK-Font-All-Round-Gothic/flat-it-all-round-gothic-book.otf);
}

.all-round-gothic-book-font {
    font-family: AllRoundGothicBook;
}


/*----------------------------*/


#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10% 0 15% 0;
    background-color: #1F1F1F;
    color: #00A0C6;
}

#landing-page-heading {
    font-size: 200px;
    margin: 4%;
    color: #FFFE00;
    text-shadow: 0px 3px 20px #FFFE00, -10px -10px #F0037F, -10px -7px 20px #F0037F, -20px -20px #00A0C6, -20px -17px 20px #00A0C6;
}

#landing-page .all-round-gothic-book-font{
    margin: 0;
}

@media screen and (max-width: 1100px) {
    #landing-page-heading {
        font-size: 150px;
    }
}

@media screen and (max-width: 800px) {
    #landing-page-heading {
        font-size: 100px;
    }
    
    #landing-page {
        padding-top: 20%;
    }
}

@media screen and (max-width: 520px) {
    #landing-page-heading {
        font-size: 50px;
    }
    
    #landing-page {
        padding-top: 30%;
    }
}


/*----------------------------*/
#main-nav {
    background-color: #1F1F1F;
    width: 100%;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 60px;
    overflow: visible;
/*    display: none;*/
}

#main-nav li {
    display: inline;
    list-style: none;
/*    padding: 0 5%;*/
}

#main-nav a {
    text-decoration: none;
    color: #00A0C6;
    font-size: 20px;
}

#main-nav-logo-container {
    width: 20%;
    display: inline-block;
}

#showcase-logo {
    width: 140px;
    padding-left: 30px;
}

#main-nav-dropdown{
    display: none;
}

#main-nav-text-container {
    width: 60%;
    float: right;
}

#main-nav-text-container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-nav-text-container a:hover {
    color: white;
}

#nav-rsvp-button-text {
    padding: 6px 22px;
    border-radius: 63px;
    border: 3px solid #F0037F;
    box-shadow: 0px 2px 20px #F0037F;
    text-shadow: 0px 3px 10px #00A0C6;
    color: #00A0C6;
}


@media screen and (max-width: 980px) {
    #main-nav-text-container {
        width: 70%;
    }
}



@media only screen and (max-width: 767px) {
    /*hide regular nav bar*/
    #main-nav-text-container{
        display: none;
    }

    /* The container <div> - needed to position the dropdown content */
    #main-nav-dropdown {
        display: inline-block;
        float: right;
    }

    /* Dropdown Button */
    #dropbtn {
        display: block;
        margin-right: 10%;
        float: right;
        width: 50px; 
        height: 50px; 
/*        background-color: gray;*/
        cursor: pointer;
        z-index: 2;
        
        border: 2px solid #00A0C6;
        border-radius: 12px;
        box-shadow: 0px 3px 10px #00A0C6;
    }

    /* Dropdown button on hover & focus */
    #dropbtn:hover, #dropbtn:focus {
/*        background-color: pink;*/
        border-color: white;
        box-shadow: 0px 3px 10px white;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        background-color: rgb(31, 31, 31, 0.7);
        margin-top: 250px;
    }

    /* Links inside the dropdown */
    .dropdown-content li a{
        padding: 15px;
        display: block;
    }
    
    #dropdown-about:hover, #dropdown-when-where:hover, #dropdown-previous-shows:hover, #dropdown-rsvp:hover {
        color: white;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display:block;
    }

}

/*----------------------------*/


/*
#rsvp {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
*/

#rsvp-button {
    width: 40%;
    max-width: 300px;
    min-width: 200px;
    height: 80px;
    font-size: 26px;
    text-decoration: none;
    color: #00A0C6;
    border-radius: 63px;
    border: 6px solid #F0037F;
    box-shadow: 0px 7px 20px #F0037F;
    text-shadow: 0px 8px 20px #00A0C6;
}

#rsvp-button div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rsvp-button-heading {
    line-height: 12px;
}

#rsvp-button:hover {
    color: white;
    text-shadow: 0px 8px 20px white;
}


/*----------------------------*/


#about {
    padding-top: 100px;
/*    padding-bottom: 7px;*/
    background-color: #353535;
}

#about-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#about-heading {
    text-align: left;
    color: #00A0C6;
    width: 40%;
    font-size: 70px;
    text-shadow: 0px 5px 20px #00A0C6;
}

#about-text {
    color: #FFFE00;
    width: 40%;
    font-size: 18px;
}

#about-categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#category1 {
    background-color: #FFFE00;
    color: #00A0C6;
    text-shadow: 0px 3px 10px rgba(0, 160, 198, 0.5);
}

#category2 {
    background-color: #F0037F;
    color: #FFFE00;
    text-shadow: 0px 3px 10px rgba(255, 254, 0, 0.5);
}

#category3 {
    background-color: #00A0C6;
    color: #FFFE00;
    text-shadow: 0px 3px 10px rgba(255, 254, 0, 0.5);
}

#category4 {
    background-color: #FFFE00;
    color: #F0037F;
    text-shadow: 0px 3px 10px rgba(240, 3, 127, 0.5);
}

.category {
    width: 25%;
    padding: 7% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-heading {
    font-size: 1.625em;
    text-align: center;
    width: 90%;
}

#about-submit-text {
    text-align: center;
    color: #FFFE00;
}

#about-submit-text a {
    color: #F0037F;
    text-decoration: none;
}

#about-submit-text a:hover {
    color: white;
}


@media screen and (max-width: 700px) {
    .category {
        width: 50%;
    }
}

@media screen and (max-width: 430px) {
    .category {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    #about-heading {
        width: 100%;
    }
    
    #about-text {
        width: 80%;
        padding: 0 5%;
    }
    
    #about-text-container {
        flex-direction: column;
        padding: 0 5%;
    }
}

@media screen and (min-width: 1300px) {
    #about-heading {
        width: 25%;
    }
}

@media screen and (max-width: 767px) {
    #about-heading {
        font-size: 50px;
    }
}

@media screen and (min-width: 890px) {
    .category-heading {
        font-size: 30px;
    }
}

@media screen and (min-width: 1100px) {
    .category-heading {
        font-size: 40px;
    }
}

@media screen and (min-width: 1350px) {
    .category-heading {
        font-size: 50px;
    }
}

@media screen and (min-width: 1720px) {
    .category-heading {
        font-size: 60px;
        width: 80%;
    }
}


/*----------------------------*/

#when-where {
    padding-top: 100px;
    background-color: #1F1F1F;
}

#when-where-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

#when-where-heading {
    text-align: left;
    color: #F0037F;
    width: 40%;
    font-size: 70px;
    text-shadow: 0px 5px 20px #F0037F;
}

#when-where-text {
    color: #FFFE00;
    width: 40%;
    font-size: 18px;
}

#when-where-content-container {
    display: flex;
    justify-content: space-around;
}

#google-maps-container {
    overflow: hidden;
    width: 100%;
    padding-top: 25%;
    position: relative;
}

#google-maps-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 650px) {
    #when-where-content-container {
        flex-direction: column;
        padding-top: 30px;
    }
    
    #google-maps-container {
        width: 100%;
        padding-top: 70%;
    }
    
    #when-where-heading {
        width: 100%;
    }
    
    #when-where-text {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    #when-where-text-container {
        padding: 0 5%;
    }
}

@media screen and (min-width: 1300px) {
    #when-where-heading {
        width: 25%;
    }
}

@media screen and (max-width: 767px) {
    #when-where-heading {
        font-size: 50px;
    }
}


/*----------------------------*/

#previous-shows {
    padding-top: 100px;
    background-color: #353535;
}

#previous-shows-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

#previous-shows-heading {
    text-align: left;
    color: #FFFE00;
    width: 40%;
    font-size: 70px;
    text-shadow: 0px 5px 20px #FFFE00;
}

#previous-shows-text {
    color: #FFFE00;
    width: 40%;
    font-size: 18px;
}

#previous-shows-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#prev-show-2018 {
    height: 300px;
    background-color: #FFFE00;
    color: #00A0C6;
    overflow: hidden;
    text-shadow: 0px 3px 10px rgba(0, 160, 198, 0.5);
}

#prev-show-2017 {
    height: 300px;
    background-color: #F0037F;
    color: #FFFE00;
    overflow: hidden;
    text-shadow: 0px 3px 10px rgba(255, 254, 0, 0.5);
}

#prev-show-2016 {
    height: 300px;
    background-color: #00A0C6;
    color: #FFFE00;
    overflow: hidden;
    text-shadow: 0px 3px 10px rgba(255, 254, 0, 0.5);
}

#prev-show-2015 {
    height: 300px;
    background-color: #FFFE00;
    color: #F0037F;
    overflow: hidden;
    text-shadow: 0px 3px 10px rgba(240, 3, 127, 0.5);
}

.prev-show-year-heading {
    font-size: 40px;
    position: absolute;
    z-index: 1;
    top: 40%;
}

.prev-show-year-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#prev-show-2018-link, #prev-show-2017-link, #prev-show-2016-link, #prev-show-2015-link {
    width: 25%;
    text-decoration: none;
    color: black;
    overflow: hidden;
}

#prev-show-2018-link:hover, #prev-show-2017-link:hover, #prev-show-2016-link:hover, #prev-show-2015-link:hover {
    color: white;
}


#img-2018, #img-2017, #img-2016, #img-2015 {
    height: 100%;
}

#color-2018 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFE00;
    opacity: 0.8;
}

#color-2017 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F0037F;
    opacity: 0.8;
}

#color-2016 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00A0C6;
    opacity: 0.8;
}

#color-2015 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFE00;
    opacity: 0.8;
}


@media screen and (max-width: 700px) {
    #prev-show-2018-link, #prev-show-2017-link, #prev-show-2016-link, #prev-show-2015-link {
        width: 50%;
    }
}

@media screen and (max-width: 430px) {
    #prev-show-2018-link, #prev-show-2017-link, #prev-show-2016-link, #prev-show-2015-link {
        width: 100%;
    }
}

@media screen and (min-width: 1400px) {
    #img-2018, #img-2017, #img-2016, #img-2015 {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    #previous-shows-heading {
        width: 100%;
    }
    
    #previous-shows-text {
        width: 80%;
        padding: 0 5% 40px;
    }
    
    #previous-shows-text-container {
        flex-direction: column;
        padding: 0 5%;
    }
}

@media screen and (min-width: 1300px) {
    #previous-shows-heading {
        width: 25%;
    }
}

@media screen and (max-width: 767px) {
    #previous-shows-heading {
        font-size: 50px;
    }
}

@media screen and (min-width: 890px) {
    .prev-show-year-heading {
        position: absolute;
        top: 35%;
    }
}

@media screen and (min-width: 1350px) {
    .prev-show-year-heading {
        font-size: 50px;
        top: 27%;
    }
}


/*----------------------------*/

footer {
    width: 100%;
    height: 170px;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#footer-social-media-container {
    display: flex;
    justify-content: space-around;
    width: 120px;
    height: 40px;
    padding: 20px;
}

.fa {
    padding: 10px;
    font-size: 22px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    line-height: 16px;
    
    border: 2px solid #F0037F;
    color: #F0037F;
    box-shadow: 0px 3px 10px #F0037F;
    text-shadow: 0px 3px 10px #F0037F;
}

.fa:hover {
    border-color: white;
    color: white;
    box-shadow: 0px 3px 10px white;
    text-shadow: 0px 3px 10px white;
}
/*
.fa-twitter {
    border: 2px solid #F0037F;
    color: #F0037F;
    box-shadow: 0px 3px 10px #F0037F;
    text-shadow: 0px 3px 10px #F0037F;
}

.fa-twitter:hover {
    border-color: white;
    color: white;
    box-shadow: 0px 3px 10px white;
    text-shadow: 0px 3px 10px white;
}

.fa-instagram {
    border: 2px solid #F0037F;
    color: #F0037F;
    box-shadow: 0px 3px 10px #F0037F;
    text-shadow: 0px 3px 10px #F0037F;
}

.fa-instagram:hover {
    border-color: white;
    color: white;
    box-shadow: 0px 3px 10px white;
    text-shadow: 0px 3px 10px white;
}
*/

#footer-divider {
    background-color: #FFFE00;
    width: 50%;
    height: 2px;
    box-shadow: 0px 2px 10px #FFFE00;
}

#footer-text-links-container {
    padding-top: 20px;
}

#footer-text-links-container a {
    padding: 10px;
    color: #00A0C6;
    text-decoration: none;
    font-size: 18px;
}

#footer-text-links-container a:hover {
    color: white;
}