.section-heading {
    text-align: center;
}


/*----------------------------*/


#landing-page {
    background-image: url(images/);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20% 0;
    background-color: darkgray;
}


/*----------------------------*/


#main-nav {
    background-color: lightgray;
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#main-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-nav li {
    display: inline;
    list-style: none;
/*    padding: 0 5%;*/
}

#main-nav a {
    text-decoration: none;
    color: black;
}

#main-nav-logo-container {
    width: 20%;
}

#main-nav-text-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#main-nav-text-container a:hover {
    color: white;
}


/*----------------------------*/


#rsvp {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#rsvp-button {
    background-color: lightgray;
    width: 50%;
    height: 150px;
    font-size: 2.5em;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

#rsvp-button div {
    display: flex;
    justify-content: center;
}

#rsvp-button div h2 {
    line-height: 80%;
}

#rsvp-button:hover {
    color: white;
}


/*----------------------------*/


#about {
    padding-top: 100px;
}

#about-text {
    width: 70%;
    padding: 0 15%;
}

#about-categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#category1 {
    background-color: rgb(100, 100, 100);
}

#category2 {
    background-color: rgb(150, 150, 150);
}

#category3 {
    background-color: rgb(190, 190, 190);
}

#category4 {
    background-color: rgb(220, 220, 220);
}

.category {
    width: 25%;
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-heading {
    font-size: 1.625em;
}


@media screen and (max-width: 700px) {
    .category {
        width: 50%;
    }
}

@media screen and (max-width: 430px) {
    .category {
        width: 100%;
    }
}


/*----------------------------*/

#when-where {
    padding-top: 100px;
}

#when-where-content-container {
    display: flex;
    justify-content: space-around;
}

#google-maps-container {
    overflow: hidden;
    width: 50%;
    padding-top: 35%;
    position: relative;
}

#google-maps-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#location-date {
    width: 30%;
}


@media screen and (max-width: 700px) {
    #when-where-content-container {
        flex-direction: column;
    }
    
    #google-maps-container {
        width: 100%;
        padding-top: 50%;
    }
    
    #location-date {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}


/*----------------------------*/


#previous-shows {
    padding-top: 100px;
}

#previous-shows-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#prev-show-2018 {
    height: 300px;
    background-color: rgb(100, 100, 100);
    overflow: hidden;
}

#prev-show-2017 {
    height: 300px;
    background-color: rgb(150, 150, 150);
    overflow: hidden;
}

#prev-show-2016 {
    height: 300px;
    background-color: rgb(190, 190, 190);
    overflow: hidden;
}

#prev-show-2015 {
    height: 300px;
    background-color: rgb(220, 220, 220);
    overflow: hidden;
}

.prev-show-year-heading {
    font-size: 1.875em;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 7px;
    border-radius: 10px;
}

.prev-show-year-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#prev-show-2018-link, #prev-show-2017-link, #prev-show-2016-link, #prev-show-2015-link {
    width: 25%;
    text-decoration: none;
    color: black;
    overflow: hidden;
}

#prev-show-2018-link:hover, #prev-show-2017-link:hover, #prev-show-2016-link:hover, #prev-show-2015-link:hover {
    color: white;
}


#img-2018, #img-2017, #img-2016, #img-2015 {
    height: 100%;
}


@media screen and (max-width: 700px) {
    #prev-show-2018-link, #prev-show-2017-link, #prev-show-2016-link, #prev-show-2015-link {
        width: 50%;
    }
}

@media screen and (max-width: 430px) {
    #prev-show-2018-link, #prev-show-2017-link, #prev-show-2016-link, #prev-show-2015-link {
        width: 100%;
    }
}


/*----------------------------*/


footer {
    width: 100%;
    height: 170px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-social-media-container {
    display: flex;
    justify-content: space-around;
    width: 100px;
    height: 40px;
    padding: 30px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-twitter {
    background-color: gray;
    color: white;
}

.fa-twitter:hover {
    background-color: rgb(160, 160, 160);
}

.fa-instagram {
    background-color: gray;
    color: white;
}

.fa-instagram:hover {
    background-color: rgb(160, 160, 160);
}

#footer-text-links-container a {
    padding: 0 10px;
    color: black;
    text-decoration: none;
}

#footer-text-links-container a:hover {
    color: white;
}